<div class="container" ng-controller="my-profile">
    <h3>Detailed Profile</h3>
    <hr>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 shadow">
            <div class="row card-body">
                <div class="col-5">
                    <div class="profile-pic">
                        <img class="profile-img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="">
                    </div>
                </div>
                <div class="col-5">
                    <div class="profile-detail">
                        <span class="profile-title">Name</span>
                        <div class="row">
                            <div class="col-10">
                                <input class="form-control form-control-sm" type="text" ng-value="profile.name" ng-model="profile.name">
                            </div>
                            <div class="col-2">
                                <button class="btn btn-sm" ng-click="editProfileName()"><i class="fa fa-pencil"></i></button>
                            </div>
                        </div>
                    </div>
                    <profile-info value="profile.id" name="Emp Id"></profile-info>
                    <profile-info value="profile.account" name="Account"></profile-info>
                    
                </div>
            </div>
            <hr>
            <div class="row card-body">
                <div class="col-md-6">
                    <profile-info value="profile.emailid" name="Email Id"></profile-info>
                </div>
                <div class="col-md-6">
                    <profile-info value="profile.officelocation" name="Office Location"></profile-info>
                </div>
                <div class="col-md-6">
                    <profile-info value="profile.role" name="Role"></profile-info>
                </div>
                <div class="col-md-6">
                    <profile-info value="profile.contact" name="Contact Number"></profile-info>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>